<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Team generator template</title>
</head>

<body>
    <div class="container">

        <!-- Jumbotron for Title -->
        <div class="jumbotron" style="background-color: maroon ; color: white;">
            <h1 class="text-center">
                <strong>My Team</strong>
            </h1>
        </div>
</body>

</html>