<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manager template</title>
</head>

<body>
    <div class="card m-2" style="width: 18rem;">
        <div class="card-header bg-primary text-white">
            <strong>${manager.name}</strong>
            <br>
            <strong><i class="fa fa-coffee"></i> Manager</strong>
        </div>
        <div class="card-body bg-light">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: <span>${manager.id}</span></li>
                <li class="list-group-item">Email: <a href="#" class="card-link">${manager.email}</a></li>
                <li class="list-group-item">Office number: <span>${manager.officeNumber</span></li>
            </ul>
        </div>
    </div>
</body>

</html>